body {
	  background: url("https://farm3.staticflickr.com/2920/14034616440_65bf74a0fe_o_d.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}